.t-16-r {
  font-size: $f-16;
  line-height: 125%;
  font-weight: 400;
  color: rgba(var(--w-clr), 1);
}

.t-16-sb {
  font-size: $f-16;
  line-height: 125%;
  font-weight: 600;
  color: rgba(var(--w-clr), 1);
}


.t-16-b {
  font-size: $f-16;
  line-height: 125%;
  font-weight: 700;
  color: rgba(var(--w-clr), 1);
}

