@use 'sass:math';

@mixin df($direction, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  grid-gap: $gap;
}

@mixin center {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@mixin pseudo {
  position: absolute;
  content: '';
}

@mixin bg_position {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@mixin max-width($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}

@mixin min-width($media) {
  @media only screen and (min-width: $media) {
    @content;
  }
}

@function rem($pixel) {
  @return math.div($pixel, 16) + rem;
}

@function vw($pixel) {
  @return math.div($pixel, 16) + vw;
}

@mixin w-h($width, $height) {
  width: $width;
  height: $height;
}

