.g-title {
  @include df(row, center, 0.625rem);
  font-size: clamp(26px, 2.1875vw, 35px);
  font-weight: 700;
  color: rgba(var(--w-clr), 1);
  span {
    @include w-h(1.25rem, 2px);
    display: block;
    background-color: rgba(var(--g-clr), 1);
    border-radius: 5px;
  }
  &_center {
    justify-content: center;
  }
}
